.careers-main-content {
    max-width: var(--content-max-width);
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    margin: 0 auto;
    align-items: center;
}

.careers-section h2{
    padding-top:0;
    padding-bottom:0;
}

.careers-main-content h1 {
    font-size: 3em;
    color: rgb(0, 166, 255);
    margin-bottom: 0.5em;
    text-align: center;
}

.careers-intro {
    text-align: center;
    max-width: 40em;
    margin-bottom: 3em;
    line-height: 1.6;
    color: #333;
}

.careers-section {
    position:relative;
    width: 70%;
    padding: 2em;
    padding-top:0;
    background-color: #f7faff;
    border-radius: 1.5em;
    margin-bottom: 3em;
}

.careers-job {
    background: white;
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    position:relative;
}

.careers-job h3 {
    margin-bottom: 0.3em;
    font-size: 1.3em;
}

.careers-tag {
    position:absolute;
    right:1em;
    top:1em;
    background: #eef7ff;
    padding: 0.3em 0.6em;
    border-radius: 0.4em;
    font-size: 0.85em;
    cursor: default;

}

.careers-apply {
    text-align: center;
}

.careers-apply a {
    color: rgb(0, 166, 255);
    text-decoration: none;
}

.CarreersYadaEmail {
    display: block;
    animation: pulseEmail 2.5s ease-in-out infinite;
}

@keyframes pulseEmail {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}



.careers-apply a:hover {
    text-decoration: underline;
}
