

.contact-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: var(--content-max-width);

}

.infoAndMapWrapper{
    width:100%;
    height:fit-content;
    display:flex;
    justify-content: space-around;

}

.contact-info {
    display: flex;
    flex-direction: column;
    max-width:35%;
    justify-content: flex-end;
    align-items: flex-start;
}

.contact-info h1 {
    font-size: 2.8em;
    color: rgb(0, 166, 255);
    margin-bottom: 0.5em;
    align-self:flex-start;
}

.contact-info p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.5;
}

.contact-info a {
    color: rgb(0, 166, 255);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-map {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 20em;
    max-width:35em;
    flex-grow:1;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media screen and (max-width: 70em) {
    .infoAndMapWrapper{
        flex-direction: column;
        align-items: center;
        margin-top:2em;
        margin-bottom:2em;
    }

    .infoAndMapWrapper .contact-info {
        max-width:65%
    }

    .infoAndMapWrapper .contact-map {
        margin-top:2em;
        max-width:50em;
        width:60%;
    }

    .infoAndMapWrapper p{
        margin:0.5em;
    }

}
