.dual-slider {
    position: relative;
    width: 260px;
    height: 40px;
}

.slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background: #d3d3d3;
    border-radius: 3px;
    transform: translateY(-50%);
}

.slider-range {
    position: absolute;
    top: 50%;
    height: 6px;
    background: #007bff;
    border-radius: 3px;
    transform: translateY(-50%);
}

/* Both thumbs */
.thumb {
    position: absolute;
    width: 100%;
    height: 0;
    bottom:1.3em;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    left:-0.1em;
}

.thumb::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    position: relative;

}

.thumb::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;

}
