.filters-panel {
    width: 18em;
    padding: 1em;
    background-color: #f7f7f7;
    border-radius: 1em;
    margin-right: 2em;
    flex-shrink: 0;
    position:relative;
}

.filters-panel h2 {
    margin-bottom: 1em;
}

.filter-group {
    margin-top:4em;
    margin-bottom: 1.5em;
}

.filter-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.filter-inputs {
    display: flex;
    gap: 0.5em;
}

.filter-inputs input {
    width: 4.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

.price-values{
  display:flex;
  justify-content: space-between;
}

/*.price-values-From{*/
/*}*/

/*.price-values-To{*/
/*}*/

/*.filter-votes-inputs{*/
/*    display:flex;*/
/*    justify-content: space-around;*/

/*}*/

/*.filter-votes-inputs input{*/
/*    width:2em;*/
/*}*/

.filter-votes-inputs{display:inline-flex;gap:.5em;align-items:center}
.compact-input{width:3.2em;padding:.2em;font-size:.9em;border:1px solid #ccc;
    border-radius:.25em;text-align:center}
