.home-main-content{
    max-width:var(--content-max-width);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.home-main-content > *{
    margin-top: 4.5em;
    margin-bottom:4.5em;
}