:root {
  --color-primary: #fff;
  --content-max-width:80em;
  --logo-header-height:3em;
  --content-background-color:#f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size:16px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  text-align:left;
  background-color:grey;
}

#root {
  background-color: var(--color-primary);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height:100vh;
  width:100%;
  color: #213547;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none; /* inherit can be unpredictable */
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
