:root {
  --color-primary: #fff;
  --content-max-width:80em;
  --headers-height:5em;
  --logo-header-height:3em;
  --left-header-menu-height:calc( var(--logo-header-height) - 0.5em);
  --content-background-color:#f1f1f1;
  --header-items-border:0.15em solid transparent;
  --header-items-border-hover:0.15em solid pink;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size:16px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  text-align:left;
  background-color:grey;
}

#root {
  background-color: var(--color-primary);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height:100vh;
  width:100%;
}


main{
  display:flex;
  width:100%;
  justify-content: center;
  min-height: calc(100vh - var(--headers-height));
}

.home-main-content{
  max-width:var(--content-max-width);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.home-main-content > *{
  margin-top: 4.5em;
  margin-bottom:4.5em;
}



a {
  font-weight: 500;
  text-decoration: none;
  color:unset;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

