
.ProductsRow {
    margin-top: 5em;
    margin-bottom:4em;
    width:100%;
    padding:2em;
    border-radius: 2em 2em 2em 2em;
}

.home-main-content > .ProductsRow:nth-of-type(2n+1) {
    box-shadow: var(--content-background-color) 0 2em 3em;
}

.row-title {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 3.8em;
}

.row-items {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    opacity: 0;
    transform: translateY(10em);
    transition: all 1.5s ease-out;
    width:100%;

}

.row-items.visible {
    opacity: 1;
    transform: translateY(0);
}