.product-card {
    width: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:500ms ease-in-out;
}

.product-card:hover {
    scale:0.96;

}

.product-card a{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width:100%;
}

.product-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5em;
}

.product-info {
    margin-top: 0.5em;
    width:100%;
}

.product-name {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 3em;
}

.product-price {
    margin-top: 0.25em;
    font-weight: 600;
}

.product-rating {
    margin-top: 0.25em;
    font-size: 0.85em;
    color: #555;
}

.product-stars-on{
    color:gold;
}

.product-stars-off{
    color:grey;
}