
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16em;
  height: 100%;
  padding-top:3.5em;
  padding-left:0.5em;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.3s ease;
  z-index: 10;
  box-shadow: 3px 0px 8px rgba(0,0,0,0.2);
}

.sidebar.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  padding:0;
  top: 0.5em;
  right: 1em;
  border: none;
  background: none;
  color: #000;
  font-size: 1.5em;
  cursor: pointer;
}

.closeBtn::after {
  display:block;
  content: "";
  position: absolute;
  width:100vw;
  height:100vh;
  background-color:transparent;
  transform: translate(calc(-100% + 1.8em), calc(-100% + 1em));
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 18px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #222;
  font-size: 18px;
}

.sidebar img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}
