
.user-icon{
    width:var(--left-header-menu-height);
    height:var(--left-header-menu-height);
    border-radius: 50%;
    background-color:var(--content-background-color);
    overflow: hidden;
    border:var(--header-items-border);
}

.user-icon:hover{
    border:var(--header-items-border-hover);
}

.user-icon a{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;

}

.user-icon img {
    height:60%;
    width:60%;
    cursor: pointer;
}

